#layer1 {
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 300px;
	left: 20px;
	top: 300px;
	background-color: #eee;
	border: 1px solid #000;
	padding: 10px;
}

#close {
	float: right;
}
